---
import Layout from '../layouts/Layout.astro';
---

<Layout title="AlVaz | Proyecto" description="Proyecto" palabras="Artista, descripcion, Arte, ArteDigital, Video, Ilustracion, Ilustraciones" author="AlVaz">
	<main>
		<section class="container  p-10 m-10 top:100%">
			<div class="row align-items-center">
				<div class= "position-relative p-1 mb-1 bg-danger text-white rounded" style="height: 10vh; color: #000000">
						<h1>
							Presentacion del PROYECTO
						</h1>
					</div>	
					<div class="col-lg-4 align-items-center fs-1" style="height: 50vh;">
						<p>
							Holometabolo
						</p>
					</div>
					<div class="col-lg-6 align-self-End" style="height: 50vh;">
						<p>
							<img src="/img/h.jpg" alt="imagen agregado" width="100%">
						</p>
					</div>
				</div>
		</section>

		<section class="container  p-10 m-10 top:100%">
			<div class="row align-items-center">
				<div class= "position-relative p-1 mb-1 bg-danger text-white rounded" style="height: 10vh; color: #000000">
						<h1>
							Descripcion del PROYECTO
						</h1>
					</div>	
					<div class="col position-relative align-self-center fs-3" style="height: 30vh; width: 50vh; text-md-start">
						<p>
							Realizamos un videomapping en colaboracion con otros artistas de la carrera y logramos desarrollar un video con
							interpretacion del ciclo de la vida de una mosca, considerando fuertemente el describir las diferentes estapas 
							que vive el ser humano con algunas historias que son un tanto complejas y nos marcan fuertemente en la vida.
						</p>
					</div>
				</div>
		</section>

		<section class="container  p-10 m-10 top:100%">
			<div class="row align-items-center">
				<div class= "position-relative p-1 mb-1 bg-danger text-white rounded" style="height: 10vh; color: #000000">
						<h1>
							Inspiracion del PROYECTO
						</h1>
					</div>	
					<div class="col position-relative align-self-center fs-3" style="height: 50vh; width: 50vh; text-md-start">
						<p>
							Inspirándonos en el cine de Terror de antaño, nuestro videomapping hace referencia a
							criaturas del cine de terror clásico, como “The Fly”. Representaremos el ciclo de la vida a
							través de los ojos de un ser antropomorfo mitad mosca, mitad humano en constante cambio
							a través de su vida. Experimentando con momentos clave como lo son niñez, adolescencia,
							adultez, vejez y muerte.
						</p>
					</div>
				</div>
		</section>
	</main>
</Layout>

